h1 { font-family: broadway;
    text-align: center;
    color: rgb(23, 116, 23)}
h2 { font-family: Bauhaus Modern;
    text-align: center;
    color: rgb(4, 173, 4)}
li {font-family: rockwell;
    color: rgb(0, 0, 0)}
#cod { color: red;
    font-size: 20px;
    font-weight: bold}
a {color: rgb(18, 102, 10)}
hr {color:rgb(18, 102, 10);
}
.background {background-image : 
    linear-gradient(150deg, #f1f4f5 0%, #be2fa7 60%, #2908b9 90%);
}

.generalcontainer{display:grid;
    grid-template-rows: 20% 1fr;
    grid-template-areas:"header" "content"}
.headercontainer{grid-area: header;
    display:grid;
    grid-template-columns: 20% 1fr;
    grid-template-areas: 
    "photo title"
    "photo description"

}
#photo {grid-area:photo}
#img{
    width:100%;
    height:100%
}
#title {grid-area:title}
#description {grid-area:description;
    font-family: broadway
}

.contentcontainer{grid-area: content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50% 30%
}
.experience{grid-area: 1/1/2/3;
    width: 100%;
    height: 100%
}
.education{grid-area: 1/3/2/-1;
    width: 100%;
    height: 100%
}
.skills{grid-area: 2/1/-1/4;
    width: 100%;
    height: 100%
}
.languages{grid-area: 2/4/-1/5;
    width: 100%;
    height: 100%
}
.contacts{grid-area: 2/5/-1/-1;
    width: 100%;
    height: 100%
}